@font-face {
    font-family: 'iconfont'; /* Project id 4454843 */
    src: url('//at.alicdn.com/t/c/font_4454843_jhfodlgxmx.woff2?t=1709729048475') format('woff2'),
        url('//at.alicdn.com/t/c/font_4454843_jhfodlgxmx.woff?t=1709729048475') format('woff'),
        url('//at.alicdn.com/t/c/font_4454843_jhfodlgxmx.ttf?t=1709729048475') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
    content: '\e601';
}

.icon-top:before {
    content: '\e60f';
}

.icon-tubiaozhizuomoban-:before {
    content: '\e603';
}

.icon-shezhi:before {
    content: '\e60a';
}
